body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1540px;
}

.bg {
  background-image: url("/images/bg.png");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: full;
  height: 867px;
  background-repeat: no-repeat;
}

.header {
  padding: 10px 200px;
  padding-top: 10px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__x {
  display: none;
}
.header__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header__active {
  display: none;
}
.header__links {
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.header__link {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.header__link:hover {
  opacity: 0.6;
}
.header__btn {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 6px;
}
.header__btn2 {
  background: none;
  color: white;
  border: 1px solid white;
  margin-top: 30px;
  padding: 10px 10px;
  border-radius: 6px;
}
.header__bar {
  display: none !important;
}
.header__btn:hover {
  transform: scale(0.95);
}
.header__close {
  display: none;
  visibility: hidden;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
  .header__item {
    display: flex;
    flex-direction: column;
  }
  .header__links {
    margin-top: 50px;
    padding-left: 0px !important;
    padding-top: 0px;
    border-top: 0.1px solid white;
  }
}
@media (max-width: 376px) {
  .header {
    padding: 10px;
    padding-left: -100px;
  }
  .header__btn {
    display: none;
  }
  .header__bar {
    margin-right: 1px;
    margin-top: 2px;
    font-size: 22px;
    display: inline !important;
    color: white;
  }
  .header__links {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 0px;
    border: none;
    display: none;
    flex-direction: column;
    background-color: black;
    width: 300px;
    height: 300px;
    margin-top: 0;
    margin-left: 20px;
  }
  .header_btn2 {
    display: flex;
    display: block;
    background: white;
    padding-top: 50px;
  }
  .header__link {
    margin-top: 100px;
  }
  .header__wrapper {
    margin-top: 20px;
  }
  .header__close {
    color: white;
    visibility: visible;
  }
  .header__bar {
    display: block;
  }
  .header__active {
    display: block;
  }
  .none {
    display: block;
  }
}
.fa-close {
  display: none;
}

.hero {
  margin-top: 200px;
  align-items: center;
  text-align: center;
  color: white;
}
.hero__head {
  font-size: 88px;
  font-family: var(--second-family);
  font-weight: 400;
  width: 1000px;
  margin: 0 auto;
}
.hero__p {
  font-weight: 300;
  text-align: center;
  width: 450px;
  margin: 0 auto;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: var(--first-family);
}
.hero__button {
  background-color: #22c96a;
  padding: 16px 32px;
  color: white;
  width: 190px;
  border-radius: 6px;
  text-align: center;
  border: none;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 120px;
  }
  .hero__head {
    font-size: 56px;
    width: 589px;
  }
  .hero__p {
    font-weight: 300;
  }
}
@media (max-width: 376px) {
  .hero {
    margin-top: 120px;
  }
  .hero__head {
    font-size: 36px;
    width: 289px;
  }
  .hero__p {
    font-size: 13px;
    font-weight: 200;
    width: 250px;
  }
}
.carousel {
  overflow-x: auto;
  color: white;
  padding: 20px;
  background-color: #000;
  margin-top: 135px;
  display: flex;
}
.carousel__item {
  padding: 10px 22px;
  display: flex;
  border-right: 2px solid #26292b;
}
.carousel__left--span {
  color: gray;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carousel__right--green {
  color: green;
  margin-top: 40px;
  font-size: 10px;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carousel__right--red {
  margin-left: 20px;
  font-size: 10px;
  color: red;
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carousel__left--head {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 376px) {
  .carousel {
    margin-top: 300px;
  }
}
.service {
  padding: 0 200px;
  background-color: #f9fafb;
  padding-top: 200px;
}
.service__head {
  font-size: 58px;
  text-align: center;
  font-weight: lighter !important;
  line-height: 120%;
  font-family: var(--second-family);
}
.service__list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.service__item {
  background-color: #fff;
  height: 200px !important;
  width: 300px !important;
  list-style: none;
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.service__item5 {
  background-color: #fff;
  height: 200px !important;
  width: 300px !important;
  list-style: none;
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.service__item2 {
  width: 714px;
  margin-top: 20px;
  height: 220px !important;
  list-style: none;
  background-color: #fff;
}
.service__item--span {
  color: gray;
}
.service__item--head {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 30px;
  line-height: 130%;
  font-family: var(--second-family);
}
.service__item--p {
  font-size: 16px;
  font-weight: lighter;
  font-family: var(--first-family);
}

@media (max-width: 768px) {
  .service {
    padding: 0 20px;
  }
  .service__head {
    margin-top: 100px;
  }
  .service__item {
    width: 100px;
  }
  .service__item2 {
    background-color: #fff;
    height: 200px !important;
    width: 300px !important;
    list-style: none;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }
  .service__item5 {
    width: 700px !important;
  }
}
@media (max-width: 376px) {
  .service__head {
    font-size: 32px;
  }
  .service__list {
    padding: 0 1px;
  }
  .service__item--p {
    font-size: 12px;
  }
  .service__item--head {
    font-size: 20px;
  }
  .service__item2 {
    height: 120px;
  }
  .service__item {
    height: 120px;
    width: 100px;
  }
  .service__item5 {
    height: 120px !important;
    width: 300px !important;
    padding-bottom: 10px;
  }
}
.wrapp {
  background-color: #fff;
  margin-top: 100px;
  padding: 0 200px;
  align-items: center;
}
.wrapp__head {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
  font-family: var(--second-family);
}
.wrapp__p {
  font-family: var(--first-family);
  font-size: 16px;
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0.6;
  font-weight: lighter;
}
.wrapp__img {
  width: 1100px;
  border-radius: 1px;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .wrapp {
    padding: 0 50px;
  }
  .wrapp__p {
    width: 600px;
  }
  .wrapp__img {
    width: 650px;
  }
}
@media (max-width: 376px) {
  .wrapp {
    padding: 0 20px;
  }
  .wrapp__p {
    width: 300px;
    font-size: 14px;
  }
  .wrapp__img {
    width: 335px;
  }
}
.fixed {
  padding: 0 200px;
  margin-top: 4%;
  padding-top: 4%;
  padding-bottom: 100px;
  background-color: #f9fafb;
}
.fixed__head {
  margin: 0 auto;
  text-align: center;
  font-size: 56px;
  font-weight: lighter;
  font-family: var(--second-family);
}
.fixed__list {
  display: flex;
  justify-content: space-between;
}
.fixed__p {
  width: 550px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
}
.fixed__item {
  list-style: none;
  width: 480px;
}
.fixed__item--div {
  display: flex;
  justify-content: start;
}
.fixed__item--span {
  margin-right: 10px;
  font-size: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  color: black;
  font-family: "Montserrat Light" sans-serif;
}
.fixed__item--p {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.fixed__fully {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #707d89;
}

@media (max-width: 768px) {
  .fixed {
    padding: 0 10px;
  }
  .fixed__list {
    display: flex;
    flex-direction: column;
  }
  .fixed__head {
    font-size: 32px;
  }
  .fixed__p {
    font-size: 14px;
  }
  .fixed__item--span {
    font-size: 32px;
  }
  .fixed__item {
    width: 700px;
  }
  .fixed__item--p {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .fixed {
    padding: 0 5px;
  }
  .fixed__list {
    display: flex;
    flex-direction: column;
  }
  .fixed__head {
    font-size: 26px;
  }
  .fixed__p {
    font-size: 11px;
    width: 300px;
    text-align: center;
  }
  .fixed__item--span {
    font-size: 26px;
  }
  .fixed__item {
    width: 300px;
  }
  .fixed__item--p {
    font-size: 10px;
  }
}
.compare {
  padding: 0 200px;
  padding-bottom: 30px;
}
.compare__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.compare__item {
  list-style: none;
}
.compare__head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 46px;
  line-height: 20%;
  color: #141414;
  text-align: center;
}
.compare__first {
  width: 230px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  background: #22c96a;
}
.compare__div {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--black);
}
.compare__second {
  width: 230px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  background: #22c96a;
}
.compare__third {
  width: 230px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  background: #22c96a;
}
.compare__fourth {
  width: 230px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 240px;
  background: #22c96a;
}
.compare__space {
  width: 20px;
  height: 186px;
}
.compare__space2 {
  width: 20px;
  height: 166px;
}
.compare__space3 {
  width: 20px;
  height: 156px;
}

@media (max-width: 768px) {
  .compare {
    padding: 0 30px;
  }
  .compare__head {
    font-size: 28px;
  }
  .compare__tablet {
    width: 140px;
  }
  .compare__span {
    font-size: 14px;
  }
  .compare__div {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .compare {
    padding: 0 2px;
  }
  .compare__head {
    font-size: 18px;
  }
  .compare__tablet {
    width: 70px;
  }
  .compare__span {
    font-size: 15px;
  }
  .compare__div {
    font-size: 14px;
    margin-top: 22px;
  }
  .compare__first {
    width: 35px;
    height: 28px;
  }
  .compare__second {
    width: 48px;
    height: 28px;
  }
  .compare__third {
    width: 55px;
    height: 28px;
  }
  .compare__fourth {
    width: 166px;
    height: 28px;
  }
  .compare__list {
    display: flex;
    flex-direction: column-reverse;
  }
  .compare__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .compare__two {
    display: flex;
    justify-content: space-between;
  }
  .compare__space, .compare__space2, .compare__space3 {
    width: 0px;
    height: 0px;
  }
}
.calc {
  padding: 0 200px;
  padding-bottom: 30px;
}
.calc__list {
  display: flex;
}
.calc__head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: black;
}
.calc__item--h {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 10%;
  color: black;
}
.calc__item {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.calc__item2 {
  width: 500px;
  border: 2px solid #d2dae1;
  padding: 50px;
  height: 350px;
}
.calc__money--rg {
  width: 80%;
  accent-color: #22c96a;
  height: 20px;
}
.calc__n {
  display: flex;
}
.calc__item--btn {
  font-family: var(--font-family);
  font-weight: 400;
  background: #22c96a;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
  padding: 16px 32px;
  width: 430px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 50px;
}
.calc__b {
  font-family: var(--second-family);
  font-size: 32px;
}
.calc__result {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: black;
}
.calc__flex {
  display: flex;
  width: 85%;
  justify-content: space-between;
}
.calc__buttons {
  display: flex;
  margin-top: 20px;
}
.calc__btn {
  display: flex;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: black;
  background: none;
  padding: 12px;
  margin-right: 20px;
  border-radius: 6px;
  border: 1px solid green;
  margin: 0 auto;
}
.calc__item--div {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 50px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray);
}
.calc__item--wrapp {
  display: flex;
}
.calc__money {
  margin-top: 50px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray);
}
.calc__item--dol {
  margin-right: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: var(--black);
}

#monthResult,
#permonthResult {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: black;
}

@media (max-width: 768px) {
  .calc {
    padding: 0 20px;
  }
  .calc__list {
    display: flex;
    flex-direction: column;
  }
  .calc__item {
    width: 100%;
  }
}
@media (max-width: 376px) {
  .calc {
    margin-left: -30px;
    padding: 0 --10px;
  }
  .calc__list {
    display: flex;
    flex-direction: column;
  }
  .calc__item {
    width: 100%;
  }
  .calc__item2 {
    width: 290px;
    padding: 10px;
    height: 400px;
  }
  .calc__head {
    font-size: 28px;
  }
  .calc__item--h {
    font-size: 26px;
  }
  .calc__buttons {
    display: flex;
    flex-direction: column;
  }
  .calc__btn {
    width: 100%;
    margin-top: 20px;
  }
  .calc__item--btn {
    width: 70%;
  }
}
.simple {
  padding: 0 200px;
  align-items: center;
  margin-top: 200px;
}
.simple__head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  color: black;
  width: 490px;
  margin: 0 auto;
}
.simple__list {
  list-style: none;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.simple__item--head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: black;
}
.simple__item--p {
  width: 328px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: black;
}
.simple__item--btn {
  background-color: #22c96a;
  padding: 16px 32px;
  color: white;
  width: 190px;
  border-radius: 6px;
  text-align: center;
  border: none;
  display: flex;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
}
.simple__line {
  margin-top: 5px;
  height: 0;
  width: 400px;
  border: 1px dashed #d2dae1;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.simple__line1 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .simple {
    padding: 0 20px;
  }
  .simple__head {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: black;
  }
  .simple__line1 {
    display: none;
  }
  .simple__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .simple__item--head {
    font-size: 24px;
  }
}
@media (max-width: 376px) {
  .simple {
    padding: 0 2px;
  }
  .simple__head {
    font-size: 25px;
    width: 300px;
  }
  .simple__item--head {
    font-size: 14px;
  }
  .simple__item--p {
    font-size: 14px;
  }
}
svg {
  margin-top: 3px;
}

.source {
  padding: 0 200px;
}
.source__head {
  font-family: var(--second-family);
  font-weight: 100;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  color: black;
}
.source__div {
  display: flex;
  justify-content: space-between;
}
.source__span {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  color: var(--gray);
}
.source__div--head {
  width: 300px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  margin-top: 0px !important;
  text-align: right;
  color: black;
}
.source__p {
  font-family: var(--first-family);
  font-weight: 300;
  width: 600px;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}

@media (max-width: 768px) {
  .source {
    padding: 0 20px;
  }
  .source__div {
    display: flex;
    flex-direction: column;
  }
  .source__div--head {
    text-align: start;
    margin-top: 40px !important;
  }
}
@media (max-width: 376px) {
  .source {
    padding: 0 20px;
  }
  .source__head {
    font-size: 26px;
  }
  .source__div {
    display: flex;
    flex-direction: column;
  }
  .source__div--head {
    font-size: 20px;
    text-align: start;
    margin-top: 40px !important;
  }
  .source__p {
    width: 320px;
    font-size: 14px;
  }
}
.level {
  padding: 0 200px;
  margin-top: 100px;
}
.level__head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 58px;
  text-align: center;
  color: black;
  text-align: center;
}
.level__btn {
  background-color: #22c96a;
  padding: 16px 32px;
  color: white;
  width: 190px;
  border-radius: 6px;
  text-align: center;
  border: none;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .level {
    padding: 0 20px;
  }
  .level__head {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 40px;
    width: 600px;
  }
}
@media (max-width: 376px) {
  .level {
    padding: 0 20px;
  }
  .level__head {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 300px;
  }
}
.footer {
  padding: 40px 200px;
  margin-top: 120px;
  background: black;
}
.footer__p {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #9ba1a6;
}
.footer__ps {
  margin-top: 80px;
  margin-bottom: 80px;
}
.footer__span {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9ba1a6;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }
}
:root {
  --first-family: "Montserrat", sans-serif;
  --second-family: "Cormorant Garamond", sans-serif;
}/*# sourceMappingURL=style.css.map */