@import "../colors/color";
.header {
  padding: 10px 200px;
  padding-top: 10px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__x {
    display: none;
  }
  &__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__active {
    display: none;
  }
  &__links {
    margin-top: 5px;
    margin-left: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    margin-left: 10px;
    text-decoration: none;
    color: $textColor;
    font-size: 16px;
  }
  &__link:hover {
    opacity: 0.6;
  }

  &__btn {
    background: none;
    color: $textColor;
    border: 1px solid $textColor;

    padding: 10px 10px;
    border-radius: 6px;
  }

  &__btn2 {
    background: none;
    color: $textColor;
    border: 1px solid $textColor;
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 6px;
  }
  &__bar {
    display: none !important;
  }

  &__btn:hover {
    transform: scale(0.95);
  }
  &__close {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
    &__item {
      display: flex;
      flex-direction: column;
    }

    &__links {
      margin-top: 50px;
      padding-left: 0px !important;
      padding-top: 0px;
      border-top: 0.1px solid $textColor;
    }
  }
}

@media (max-width: 376px) {
  .header {
    padding: 10px;
    padding-left: -100px;

    &__btn {
      display: none;
    }

    &__bar {
      margin-right: 1px;
      margin-top: 2px;
      font-size: 22px;
      display: inline !important;
      color: $textColor;
    }
    &__links {
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 0px;
      border: none;
      display: none;
      flex-direction: column;
      background-color: black;
      width: 300px;
      height: 300px;
      margin-top: 0;
      margin-left: 20px;
    }
    &_btn2 {
      display: flex;
      display: block;
      background: white;
      padding-top: 50px;
    }
    &__link {
      margin-top: 100px;
    }
    &__wrapper {
      margin-top: 20px;
    }
    &__close {
      color: white;
      visibility: visible;
    }
    &__bar {
      display: block;
    }
    &__active {
      display: block;
    }
  }
  .none {
    display: block;
  }
}

.fa-close {
  display: none;
}
