@import "../colors//color";

.simple {
  padding: 0 200px;
  margin-top: 200px;
  &__head {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    text-align: center;
    color: black;
    width: 500px;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__item--head {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: black;
  }
  &__item--p {
    width: 328px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: black;
  }

  &__item--btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    background: green;
    border: none;
    padding: 12px 12px;
    margin: 0 auto;
    text-align: center;
    line-height: 150%;
    text-transform: uppercase;
    color: white;
  }
}
